html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
  
}

* {
    box-sizing: border-box;  
}

a {
    text-decoration: none;
}

h1,h2 {color: #fff; font-weight: normal;}
p, h3 {color: #818181; font-weight: normal;}

.row {padding: 8px;}

.row::after {
    content: '';
    clear: both;
    display: table;
}

[class*='col-'] {
    padding: 16px;
    float: left;
    width: 100%;
}

@media screen and (min-width: 600px) {
    .col-1 {width: 8.33%}
    .col-2 {width: 16.66%}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.anchor {
    height: 40px;
    margin-top: -40px;
    visibility: hidden;
}

.padding-l-24 {padding-left: 24px;}

.clear-float {clear: both;}

/* ----- NAV ----- */

#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 0 24px;
    background: black;
    color: #8b8b8b;
    line-height: 40px;
    z-index: 2;
}

#nav-bar i {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    font-size: 1.5em;
}

#nav-bar i:hover {
    color: #5a5a5a;
}



#nav-bar span {
    float: right;
    font-size: 1.1em;   
}

/* ----- NAV ASIDE----- */

#nav-aside {
    position: fixed;
    top: 0;
    width: 120px;
    height: 100%;
    padding-top: 40px;
    background: #222;
    color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    backface-visibility: visible;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
}

/*scrollbar*/

.scroll::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb
{
	border-radius: 1px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
/*scrollbar*/

.nav-aside-hide {
    left:-120px;
    visibility: hidden;
}

.nav-aside-show {
    left: 0;
    visibility: visible;
}

@media screen and (min-width: 600px) {
    #nav-aside {left: 0; padding-top: 0;}
    .nav-aside-hide {left: 0; visibility: visible;}
    #nav-bar {display: none;}
    #main-container {padding-left: 120px;}
    .anchor {
        height: 0;
        margin: 0;
    }
}

#nav-aside img {
    display: block;
    width: 120px;
    height: auto;
}

.nav-aside-item {
    display: block;
    height: 100px;
    width: 120px;
    padding: 18px 16px;
    text-align: center;   
    color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-aside-item:hover {
    background: black;
}

.nav-aside-item i {
    font-size: 35px;
    display: block;
    margin-bottom: 8px;
}

.nav-aside-item span {
    font-size: 0.9em;
}

.nav-aside-active {
    background: black;
}

/* ----- MAIN CONTENT ---- */

#main-container {
     -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background: black;
    width: 100%;
}

#main-column {
    max-width: 1028px;
    margin: auto;
}

.title {
    margin-top: 0;
    text-align: center;
}

.title h1 {
    font-size: 4em; 
    font-weight: normal;
    margin-bottom: 30px;
}

.title-img img {
    width: 100%;
    height: auto;
}

/* ----- ABOUT ---- */

.about p {
    text-align: justify;
}

hr {
    width: 200px;
    margin: 0 0 21px 0;
    border: none;
    border-bottom: 1px solid #818181;
}

/* ----- MY SKILLS ---- */

.my-skills {margin-top: 35px;}

.my-skills p {letter-spacing: 4px;}

.skills-chart {
    width: 100%;
    background: #fff;
}

.skills-chart div {
    height: 25px;
    background: #818181;
}

#skill-photo {width: 95%}
#skill-des {width: 85%}
#skill-phshop {width: 75%}

/* ----- STATS ---- */

.stats {
    padding: 16px 24px 16px;
}

.stats-item {
    height: 120px;
    background: #ededed;
    color: #0c0c0c;
    text-align: center;
    padding: 30px 4px 4px;
}

.stats-item span {
    display: inline-block;
    font-size: 1.6em;
    margin-bottom: 3px;
}

/* ----- download-btn ---- */

.download-btn {
    padding: 16px 24px;
}

.download-btn button {
    width: 200px;
    height: 45px;
    border: none;
    outline: none;
    background: #ededed;
    color: #0c0c0c;
    font-size: 1em;
    line-height: 45px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}

.download-btn button:hover {
    background: #b3b3b3;
}

/* ----- MY PRICE ----- */

.my-price {
    padding: 8px 16px;
}

.my-price [class*='col-'] {
    padding: 8px;
}

.price-item {
    opacity: 0.6;
    filter: alpha(opacity=60);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.price-item:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.price-item-title {
    font-size: 1.6em;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #818181;
    color: #fff;
}

.price-item-row {
    color: black;
    background: #fff;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-bottom: 1px solid #e4e4e4;
}

.price-item-price {
    color: black;
    background: #fff;
    text-align: center;
    padding: 30px 8px;
    color: gray;
    border-bottom: 1px solid #e4e4e4;
}

.price-item-price span {
    font-size: 2.3em;
    color: black;
}

.price-item-footer {
    height: 85px;
    line-height: 85px;
    text-align: center;
    background: #ededed;
    color: #fff;
}

.price-item-footer button {
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 12px 20px;
}

.price-item-footer button:hover {
    background: black;
    color: #fff;
}

/* ----- MY REPUTATION ----- */

.my-reputation h2 {margin-bottom: 34px;}

.rep-feedback {
    overflow: auto;
    margin-bottom: 24px;
}

.rep-feedback img {
    width: 80px;
    height: auto;
    border-radius: 80px;
    display: block;
    float: left;
    margin-right: 20px;
}

.feedback-text {padding-top: 4px;}

.feedback-text h3 {margin-top: 0}

.feedback-text h3 span{
    font-size: 0.8em;
    display: inline-block;
    margin-left: 10px;
}

/* ----- MY PHOTO ----- */

.my-photo{padding: 8px 16px;}
.photo-col {padding: 8px}

.photo-col img{
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 18px;
}

/* ----- CONTACT ME ----- */

.contacts {
    margin-top: 40px;
}

.contacts ul {
    list-style: none;
    padding: 0;
    color: #818181;
}

.contacts li {margin-bottom: 10px;}

.contacts li div {
    display: inline-block;
    font-size: 2.1em;
    width: 45px;
    color: #fff;
}

.contacts input {
    width: 100%;
    height: 50px;
    border: none;
    display: block;
    margin-bottom: 16px;
    padding: 8px;
}

.contacts button {
    width: 170px;
    height: 50px;
    border: none;
    background: #fff;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.contacts button i {font-size: 1.2em}

.contacts button:hover {
    background: #b3b3b3;
}

/* ----- FOOTER ----- */

.footer {padding: 50px 8px 20px;}

#social i {
    color: #818181;
    font-size: 1.5em;
    margin-right: 5px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#social i:hover {
    color: #505050;
}

.footer a {
    color: #b3b3b3;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.footer a:hover {
    color: #505050;
}

#footer-text {margin-top: 25px; font-size: 0.85em;}
#footer-text p {margin: 0 0 3px;}